@font-face {
    font-family: 'mefont';
    src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
    font-display: swap;
}

body,
.gitcalendar {
    font-family: mefont !important;
}